*{
margin: 0;
padding: 0;
box-sizing:border-box;

}

html,body{
height: 100%;
width: 100%;

}
:root{

  /*background-color */
  --bg-primary-color:rgb(0, 0, 0);
  --bg-fill-color:#dddfdd;
  --bg-food-color:rgb(255, 19, 19);


   /*text color */
 --Text-color-primary: rgb(248, 244, 244);

 /*spacing variables*/
--space-xs:4px;
--space-sm:8px;
--space-md:16px;
--space-lg:24px;
--space-xl:32px;
--space-2xl:40px;
--space-3xl:48px;

/* border color*/
--border-primary-color:#e6aaaa;

 /* border radius */
--border-radius-xs:4px;
--border-radius-sm:8px;
--border-radius-md:12px;
--border-radius-lg:16px;
--border-radius-xl:20px;
--border-radius-2xl:24px;
--border-radius-3xl:28px;


}

html{

background-color: var(--bg-primary-color);
color:var(--Text-color-primary);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
   width:  100%;
  height: 100%;
 
}
.btn{
padding: var(--space-sm) var(--space-lg);
border:none;
border-radius: var(--border-radius-sm);
cursor: pointer;
transition: all 0.3s ease;
}

.btn:hover{
 transform: scale(1.1);
}

section{
 padding: var(--space-2xl);
 display: flex;
 flex-direction:column;
 height: 100%;
background-color: rgb(82, 82, 126);
gap:var(--space-md);

}

section .infos{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.info{
padding: var(--space-sm) var(--space-md);
border: 1px solid var(--border-primary-color);
border-radius: var(--border-radius-sm);
}

.board{
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(45px, 1fr));

}

.block{
 /* width: 30px;
 height:30px; */
 border:1px solid var(--border-primary-color);
 border-radius: 50%;
 border-color: transparent;
  
}


.fill{

 background-color: var(--bg-fill-color)

}

.food{
 background-color: var(--bg-food-color)

}


.madal{
height: 100vh;
width: 100vw;
position: fixed;
top : 0;
background-color:transparent;
backdrop-filter: blur(2px);
display: flex;
justify-content: center;
align-items: center;
}

.madal .start-game,
.madal .game-over{
display: flex;
flex-direction: column;
align-items: center;
gap:var(--space-lg);
font-size:50px;
}

.madal .game-over{
display: none;

}
